{% extends 'logins/base.html' %}

{% block title %}
Inicio de sesión
{% endblock title %}

{% block content %}
    <h2>Inicio de sesión</h2>
    <p>Ingrese sus datos para iniciar sesión. Si aún no tiene una cuenta <a href="/register">regístrese</a>.</p>
    <hr>
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 mb-3">
                <label class="form-label">Rut</label>
                <input class="form-control" type="text" name="usuario" placeholder="Ingrese su Rut" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Contraseña</label>
                <input class="form-control" type="password" name="password" placeholder="Ingrese la contraseña" required>
            </div>
        </div>
        <button class="btn btn-secondary" type="submit">Iniciar sesión</button>
        <a class="btn btn-primary" href="/">Inicio</a>
    </form>
{% endblock content %}