/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2em;
    color: #333;
}

.store-name {
    font-size: 1.5em;
    color: #555;
}

.carousel {
    margin: 20px 0;
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.product-display {
    background-color: #fff;
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Añadir estilos para adaptabilidad en diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
    }

    .products {
        grid-template-columns: 1fr;
    }
}
