/* Estilos Generales */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* Estilos del Carrusel */
.carousel-inner {
    max-height: 500px;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}

/* Estilos de las Tarjetas de Productos */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Estilos del Footer */
footer {
    background-color: #007bff;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #dddddd;
}

/* Diseño Responsive */
@media (max-width: 768px) {
    .carousel-inner {
        max-height: 300px;
    }

    .card-img-top {
        height: 150px;
    }
}
