{% extends 'logins/base.html' %}

{% block content %}

<div class="container">
    {% if user.is_superuser %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Crear Usuario</h2>
                <form  method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Rut:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre completo:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
                        <label class="form-check-label" for="is_admin">¿Es administrador?</label>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Crear Usuario</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            No tienes permisos para ver esta página.
        </div>
    {% endif %}
</div>

{% endblock content %}